<div>
    <a href="/movies">Go back</a>
    <img src="{{this.movieDetails.image}}" alt="movie">
    <h2>{{this.movieDetails.title}}</h2>
    <h3>{{this.movieDetails.director}}</h3>
    <h4>Stars {{this.movieDetails.stars}}</h4>
    <h5>{{this.movieDetails.description}}</h5>
    <h5>{{this.movieDetails.showtimes}}</h5>
    
</div>



{{!-- title: String,
    director: String,
    stars: [String],
    image: String,
    description: String,
    showtimes: [String] --}}